<div class="mainBodyLabel-B">
    <p class="section-label-B" id="verbLabel"></p>
    <p class="lineLabel" id="lineLabelA"></p>
</div>

<div>
    <p class="meaningLabel">meaning</p>
    <ul id="listLabelB"></ul>
    <p id="paraContainerA" class="capturePara--A"></p>
</div>

<div>
    <p id="bottomLine" class="lineLabel-B"></p>
    <div class="bottomLabel-A">
        <p id="sourceBottom" class="sourceLabel">source</p>
        <a href="" id="sourceLink" class="link-container"></a>
        <img src="goto.jpg" id="gotoContainer" alt="goto file" width="17px" height="17px" class="gotoimage"/>
    </div>
</div>
