#title-container {
    background-color: rgb(53, 51, 51);
    color: white;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 5px;
    padding: 5px;
    display: flex;
}

.box-containers {
    background-color: #ece7dd;
    display: grid;
    border-radius: 5px;
    padding: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 6px;
    font-family: "Gill Sans";
}

.button-container {
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    pointer-events: auto;
    margin-left: 70px;

}

.box {
    margin: 5px;
    padding: 12px;
    border-radius: 13px;
}

.box1 {
    grid-column: 1/3;
    pointer-events: none;
    border: 1px solid black;
}

.box1:hover {
    background-color: #f7b87a;
}

.box3 {
    grid-column: 4;
    grid-row: 1/3;
    border: 1px solid black;
    pointer-events: none;
}

.box3:hover {
    background-color: #4682B4;
}

.box5 {
    grid-column: 2/4;
    border: 1px solid black;
    pointer-events: none;
}

.box5:hover {
    background-color: #8FBC8F;

}

.box2 {
    pointer-events: none;
    border: 1px solid black;
}

.box2:hover {
    background-color: #F8F8FF;
}

.box4 {
    border: 1px solid black;
    pointer-events: none;
}

.box4:hover {
    background-color: white;
}

img {
    border-radius: 50%;
    margin-top: 20px;
    margin-right: 10px;
    border: 2px solid rgb(202, 187, 187);
}

.para2 {
    opacity: 60%;
}

.header {
    display: flex;
}

.flower-container {
    margin-bottom: 20px;
}

.content {
    font-size: 20px;
    text-align: justify;
}