<div class="subsection-Label-A">
    <p class="section-label-desc-A">stay updated !</p>
    <p class="section-label-desc-B">Join 60,000+product managers receiving monthly updates on:</p>

    <div class="section-label-desc-C">
        <img src="icon-list.svg" alt="icon" class="section-label-img-A">
        <p class="section-label-desc-content">Product discovery and building what matters</p>
    </div>

    <div class="section-label-desc-C">
        <img src="icon-list.svg" alt="icon" class="section-label-img-A">
        <p class="section-label-desc-content">Measuring to ensure updates are a succes</p>
    </div>

    <div class="section-label-desc-C">
        <img src="icon-list.svg" alt="icon" class="section-label-img-A">
        <p class="section-label-desc-content">And much more!</p>
    </div>

    <div id="emailLabel">
        <p class="section-label-desc-D">Email address</p>
        <p id="validlabel">Valid email required</p>
    </div>

    <form id="formLabel">
        <input type="text" placeholder="email@company.com" id="sectionInput"
            class="section-label-desc-input-A" required />
        <input type="button" value="Subscribe to monthly newsletter" id="sectionBtn"
            class="section-label-desc-input-B" />
    </form>
</div>

<div class="subsection-Label-B">
    <img src="illustration-sign-up-desktop.svg" alt="letter" class="section-label-img-right-A">
</div>