<div class="third-body-section-container-A">
    <p class="body-personalInfo-label">pick add-ons</p>
    <p class="body-info-label-A">Add-ons help enhance your gaming experience</p>

    <div class="third-body-desc-A" id="third-section-desc-A">
        <input type="checkbox" id="third-checkBox-A">
        <div class="third-body-subdesc">
            <p class="third-part-desc-A" id="third-online-desc">online service</p>
            <p class="third-part-descB">access to multiplayer games</p>
        </div>
        <p class="third-body-desc-B" id="third-money-A">+$1/mo</p>
    </div>

    <div class="third-body-desc-A" id="third-section-desc-B">
        <input type="checkbox" id="third-checkBox-B">
        <div class="third-body-subdesc">
            <p class="third-part-desc-A" id="third-larger-desc">larger storage</p>
            <p class="third-part-descB">extra 1TB of cloud save save</p>
        </div>
        <p class="third-body-desc-B" id="third-money-B">+$1/mo</p>
    </div>

    <div class="third-body-desc-A" id="third-section-desc-C">
        <input type="checkbox" id="third-checkBox-C">
        <div class="third-body-subdesc">
            <p class="third-part-desc-A" id="third-custom-desc">customizable profile</p>
            <p class="third-part-descB">custom theme on your profile</p>
        </div>
        <p class="third-body-desc-B" id="third-money-C">+$1/mo</p>
    </div>

    <div class="sectionC-bottom-button">
        <input type="submit" value="go back" id="sectionC-Goback-Button" class="sectionC-bottom-goback-btn">
        <input type="button" value="next step" id="sectionC-NextStep-Button" class="sectionC-bottom-nextstep-btn">
    </div>
</div>