<p class="body-personalInfo-label">Select your plan</p>
<p class="body-info-label-A">You have the option of monthly of yearly billing.</p>
<div class="second-body-section-container">

    <div id="second-body-section-container-A">
        <div class="second-section-boxA" id="arcadeLabel">
            <img src="/assets/icon-arcade.svg" class="second-section-iconA" alt="arcadeIcon" width="30px" height="30px">
            <p class="second-section-descA" id="second-section-descId-A">arcade</p>
            <p class="second-section-descB" id="second-section-amount-A">$9/mo</p>
            <p id="second-section-innerdesc-A" class="second-section-innerdesc-style"></p>
        </div>
        <div class="second-section-boxA" id="advancedLabel">
            <img src="/assets/icon-advanced.svg" alt="checkmark" class="second-section-iconA" width="30px"
                height="30px">
            <p class="second-section-descA" id="second-section-descId-B">advanced</p>
            <p class="second-section-descB" id="second-section-amount-B">$12/mo</p>
            <p id="second-section-innerdesc-B" class="second-section-innerdesc-style"></p>
        </div>
        <div class="second-section-boxA" id="proLabel">
            <img src="/assets/icon-pro.svg" alt="iconpro" width="30px" height="30px" class="second-section-iconA">
            <p class="second-section-descA" id="second-section-descId-C">pro</p>
            <p class="second-section-descB" id="second-section-amount-C">$15/mo</p>
            <p id="second-section-innerdesc-C" class="second-section-innerdesc-style"></p>
        </div>
    </div>

    <div id="second-body-section-container-B">
        <p class="second-body-monthly-bottom--A" id="monthlyChangePart">monthly</p>

        <form class="second-middle-btn-part" id="secondButtons">
            <input type="button" id="second-page-btn-A" class="second-page-style-btnA" />
            <input type="button" id="second-page-btn-B" class="second-page-style-btnB" />
        </form>

        <p class="second-body-monthly-bottom--B" id="yearlyChangePart">yearly</p>
    </div>

    <div id="second-body-section-container-C">
        <input type="submit" value="go back" class="bottom-button-container-A" id="goback-container">
        <input type="submit" value="next step" class="bottom-button-container-B" id="nextStep2">
    </div>
</div>