<div class="fourth-body-section-container-A">
    <p class="body-personalInfo-label">finishing up</p>
    <p class="body-info-label-A">Double-check everything looks OK before confirming</p>
    <div class="fourth-section-desc-A">
        <div class="fourth-section-subdesc-A">
            <div class="outer-fourth-section">
                <p class="fourth-section-subdesc-B" id="selectPassingPart"></p>
                <p class="fourth-section-inner-A" id="mon">(monthly)</p>
                <p class="fourth-section-inner-B" id="yrly">(yearly)</p>
            </div>

            <a href="#" class="fourth-section-subdesc-C" id="fourth-section-change-btn">change</a>
        </div>
        <p class="fourth-section-subdesc-D" id="sectionDAmtA">$9/mo</p><br>
        <div class="fourth-section-subdesc-E"></div>
        <div class="fourth-section-subdesc-F">
            <p class="fourth-section-subdesc-F-part1" id="fourth-section-innerdesc-A"></p>
            <p class="fourth-section-subdesc-F-part2" id="fourth-section-amt-A"></p>
        </div>

        <div class="fourth-section-subdesc-F">
            <p class="fourth-section-subdesc-F-part1" id="fourth-section-inner-B"></p>
            <p class="fourth-section-subdesc-F-part2" id="fourth-section-amt-B"></p>
        </div>

        <div class="fourth-section-subdesc-F">
            <p class="fourth-section-subdesc-F-part1" id="fourth-section-inner-C"></p>
            <p class="fourth-section-subdesc-F-part2" id="fourth-section-amt-C"></p>
        </div>
    </div>

    <div class="fourth-section-subdesc-G">
        <div class="fourth-section-subdesc-G-innerPart">
            <p class="fourth-section-subdesc-G-part-1">total</p>
            <p class="fourth-section-month-part" id="fourth-section-month-part-B">(per month)</p>
            <p class="fourth-section-year-part" id="fourth-section-year-part-B">(per yearly)</p>
        </div>
        <p class="fourth-section-subdesc-G-part-2" id="fourth-section-Totalamt"></p>
    </div>



    <div class="sectionD-bottom-button">
        <input type="submit" value="go back" id="sectionD-Goback-Button" class="sectionC-bottom-goback-btn">
        <input type="button" value="confirm" id="sectionD-NextStep-Button" class="sectionC-bottom-nextstep-btn">
    </div>
</div>