<p class="body-personalInfo-label">personal info</p>
<p class="body-info-label-A">Please provide your name, email address,and phone number</p>
<div id="formContainer-label-A">
    <div class="formContainer-label-inside-part">
        <p class="body-name-A">Name</p>
        <p class="body-name-validation" id="invalidPart">invalid name</p>
    </div>
    <input type="text" placeholder="e.g.Stephen King" class="inputBox-label-A" id="inputBox--label--A1" required>

    <div class="formContainer-label-inside-part">
        <p class="body-name-A">Email Address</p>
        <p class="body-name-validation" id="invalidPart2">invalid email</p>
    </div>
    <input type="email" placeholder="e.g.stephenking@lorem.com" class="inputBox-label-A" id="inputBox--label--B1" required>

    <div class="formContainer-label-inside-part">
        <p for="name3" class="body-name-A">Phone Number</p>
        <p class="body-name-validation" id="invalidPart3">invalid number</p>
    </div>

    <input type="tel" placeholder="e.g. +1 234 567 890" id="inputBox--label--C1" class="inputBox-label-A" required />

    <input type="submit" value="Next step" class="bottom-button-label" id="bottom-button-label--A" required />
</div>